<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inventory">

	<!-- 총 재고 게시물 수 -->
	<select id="getTotalCount" resultType="int">
		select count(*) from inventory
	</select>

	<!-- 재고 목록 조회 -->
	<select id="getInventoryList" resultType="com.bookshop.domain.Inventory">
		select * from inventory
	</select>
	
	<!-- 재고 상세 보기(필요하면 사용하기!) -->
	<select id="getInventory" resultType="com.bookshop.domain.Inventory">
		select * from inventory where product_id =#{product_id}
	</select>
	
	<!-- 재고/판매 등록(따로하면 불편할 것 같아서 일단 합체) -->
	<insert id="insInventory" parameterType="com.bookshop.domain.Inventory">
		insert into inventory values(default,#{product_id},#{orderno},#{amount},#{status},default,#{iprice},#{oprice})
	</insert>
	
	<!-- 재고(입/출고) 변경 -->
	<update id="upInventory" parameterType="com.bookshop.domain.Inventory">
		update inventory set iprice=#{iprice}, oprice=#{oprice}, amount={amount} where ino =#{ino}
	</update>
	
	<!--  재고(입/출고) 삭제 -->
	<delete id="delInventory">
		delete from inventory where ino=#{ino}
	</delete>

	<!--  입/출고량 조회 -->
	<select id="priceCount" resultType="int">
		select * from inventory where ino=#{ino}
	</select>
	
	<!--  입출고량 조회 -->
	<select id="getAmount" resultType="int">
		select * from inventory where amount= #{amount}
	</select>
		
		
</mapper>
